@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}
body {
  @apply transition-colors duration-300;
}

.sticky-col {
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 10;
}
